# Cài đặt các thư viện của môi trường deepface_recognition
deepface==0.0.96
opencv-python==4.12.0.88
tf-keras

# Cài đặt thư viện của môi trường face_recognition
face_recognition
dlib
numpy
pillow
opencv-python